nav {
    overflow: hidden;
    width: 1500px;
    height: 150px;
    margin: auto;
    

    background-image: url(../../assets/NavBar.png);
    background-position-x: center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_text {
    margin: auto;
    margin-top: 65px;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

h1 {
   padding-left: 8%;
}

a {
    color: #ffffff;
}

ul {
    display: flex;
    float: right;
    gap: 5rem;
    padding-right: 8%;
}

/* ============= MEDIA QUERIES (LARGE DEVICES) ==================== */
@media screen and (max-width: 1500px) {
    nav {
        width: 1000px;
        height: 100px;
    }

    .nav_text {
        margin-top: 35px;
    }

    ul {
        gap: 4rem;
    }
}


/* ============= MEDIA QUERIES (MEDIUM DEVICES) ==================== */
@media screen and (max-width: 1024px) {
    nav {
        width: 800px;
        height: 80px;
    }

    .nav_text {
        margin-top: 25px;
    }

    ul {
        gap: 3rem;
    }
}

/* ============= ADDTIONAL (MEDIUM TO SMALL) ==================== */
@media screen and (max-width: 800px) {
    nav {
        width: 600px;
        height: 60px;
    }

    .nav_text {
        margin-top: 20px;
    }

    ul {
        gap: 2rem;
    }
}

/* ============= MEDIA QUERIES (SMALL DEVICES) ==================== */
@media screen and (max-width: 600px) {
    nav {
        width: 500px;
        height: 50px;
    }

    .nav_text {
        margin-top: 17px;
    }

    ul {
        gap: 2rem;
    }
}

/* ============= MEDIA QUERIES (PHONE DEVICES) ==================== */
@media screen and (max-width: 375px) {

    nav {
        width: 360px;
        height: 35px;
    }

    .nav_text {
        margin-top: 8px;
    }

    ul {
        gap: 2rem;
    }
    
}
